# used to ignore certain files by git
# mac osx files
.DS_Store
#gradle build files
.gradle
build
# intellij files
.idea/*
idea/
idea/*
*.ipr
*.iws
*.iml
*.log
target/
out/*
rebel.xml
.settings
.project
.classpath
*~
# database files
*.db

